
<section class="sectio blue-section">   
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ page.title }}</h1>
            <p>
                EdNirvana is a Learning Management System (LMS) that enables Educational Institutions and Organizations to effectively organize course content and delivery for instructors and learners, even in the absence of physical classes. EdNirvana is secure cloud based with complete data isolation amongst organizations.

            </p>
            
        </div>
        
    </div>

</div>    
</section>