<section class="sectio highlighted-section">   
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="/reg_introduction.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Product One</h4>
                    <p>Registration Portal</p>
                </span>
            </a>
            
        </div>
        <div class="col-sm-4">
            <a href="/admin_introduction.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Product Two</h4>
                    <p>Admin Portal</p>
                </span>
            </a>
        </div>
		<div class="col-sm-4">
            <a href="/appsysdev_introduction.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Product Three</h4>
                    <p>AppSystem Developer</p>
                </span>
            </a>
            
        </div>
		<div class="col-sm-4">
            <a href="/mvcwf_introduction.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Product Four</h4>
                    <p>Web Development Workflow</p>
                </span>
            </a>
            
        </div>
        
    </div>

</div>

    
</section>