<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="fa fa-home fa-lg navbar-brand" href="/">&nbsp;<span class="projectTitle"> FormulaCAD Documentation</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- toggle sidebar button -->
                <li><a id="tg-sb-link" href="#"><i id="tg-sb-icon" class="fa fa-toggle-on"></i> Nav</a></li>
                <!-- entries without drop-downs appear here -->




                
                
                
                <li><a href="https://github.com/Risersoft/Unitcad" target="_blank" rel="noopener">GitHub</a></li>
                
                
                
                <li><a href="blog">Blog</a></li>
                
                
                
                <!-- entries with drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
                
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      
                        <li><a href="http://www.risersoft.com/" target="_blank" rel="noopener">Publisher</a></li>
                       
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        
                        
                        <li><a href="FormulaCAD-inventor/introduction.html">FormulaCAD for Inventor</a></li>
						<li><a href="FormulaCAD-inventor-tutorial/introduction.html">FormulaCAD for Inventor Tutorials</a></li>
						<li><a href="FormulaCAD-autocad/introduction.html">FormulaCAD for AutoCAD</a></li>
                      
                    </ul>
                </li>
                
                
                
                    <li>



  <a class="email" title="Submit feedback" target="_blank" href="#" onclick="javascript:window.location='mailto:info@risersoft.com?subject=FormulaCAD Documentation feedback&body=I have some feedback about the HRM Nirvana page: ' + window.location.href;"><i class="fa fa-envelope-o"></i> Feedback</a>

</li>

                
                <!--comment out this block if you want to hide search-->
                <li>
                    <!--start search-->
                    <div id="search-demo-container">
                        <input type="text" id="search-input" placeholder="search...">
                        <ul id="results-container"></ul>
                    </div>
                    <script src="js/jekyll-search.js" type="text/javascript"></script>
                    <script type="text/javascript">
                            SimpleJekyllSearch.init({
                                searchInput: document.getElementById('search-input'),
                                resultsContainer: document.getElementById('results-container'),
                                dataSource: 'search.json',
                                searchResultTemplate: '<li><a href="{url}" title="FormulaCAD">{title}</a></li>',
                    noResultsText: 'No results found.',
                            limit: 10,
                            fuzzy: true,
                    })
                    </script>
                    <!--end search-->
                </li>
            </ul>
        </div>
        </div>
        <!-- /.container -->
</nav>
